body{
    font-family: 'Raleway';
}

header{
    max-width: 100%;
}

#logo{
    width: 256px;
    padding: 15px;
    margin: 10px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #333;
}
.button-top{
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        cursor: pointer;
        font-weight: 300;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 30px;
        width: auto;
        max-width: 100%;
        display: inline-block;
        padding: 15px;
        margin: 10px;
        font-family:"Roboto,Open Sans,Arial,Helvetica,sans-serif";
        font-weight: bold;
}

.button-top:hover{
    background-color: #fb7d2e;
    color: black;
    transition: 0.3s;
}

.navbar-expand-sm .col{
    border-right: 1px solid #555;
    padding: 10px;
}
  
.col:last-child {
    border-right: none;
}
  
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.nav-link {
    color: white !important;
    font-size: 16px;
}
  
.nav-link.active {
    font-weight: bold;
}

#wrapper {
    padding-top: 20px;
    width: 400px;
    margin: 0 auto;
    display: grid;
}

.form-element {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    justify-content: center; 
}

.border{
    margin-top: 10px;  
}

.profpic{
    border-radius: 100%;     
    width: 210px;
    height: 210px;
    margin: 0 auto;
}

.btn , .btn-outline-primary{
    height: 40px;
    width: 100px;
    margin-top: 10px;
}

input{
    width: 250px;
}

label{
    font-weight: 500;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
  }

.profile-pic-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-left: 90px;

}

.profile-pic {
    display: block;
    width: 100%;
    height: 100%;
}


.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.is-valid {
    border-color: green;
  }
  
.is-invalid {
    border-color: red;
  }
  