  <div id="wrapper">
        <div id="form-container">
            
            <h1>Change Password:</h1>
             
            <form method="POST" id="passForm" action="/passwordsettings">
    
                <div id="oldpass" class="form-group row ">
                    <label for="Currentpassword" class="col-md-3 col-form-label">Current &nbsp; Password:</label>
                    <div class="col-md-6 mb-3 ">
                      <input type="password" name="currentpassword" class="form-control"  id="current">
                    </div>
                        </div>
                  
                        <div id="newpass" class="form-group row">
                            <label for="newpassword" class="col-md-3 col-form-label">New Password:</label>
                            <div class="col-md-6 mb-3">
                              <input type="password" class="form-control" name="password" id="new" required>
                            </div>
                            <p id="password-message" class="password-message"></p>
                          </div>
                          

                    <div id="confirmpass" class="form-group row">
                        <label for="confirmpassword" class="col-md-3 col-form-label">Confirm Password:</label>
                        <div class="col-md-6 mb-3 ">
                            <input type="password" class="form-control" name="confirmpassword" id="confirm" required>
                        </div>
                            <p id="password-message2" class="password-message"></p>
                    </div>

        
                        <div class="button-container">
                            <a class="submit-button" href="/profile">Back to Profile</a>
                
                            <button id="submit-button" class="submit-button" type="submit">Submit</button>
                        </div>
            
                
             </form> 
                {{#if error}}
                  <div class="col-md-12 mt-3 text-center errormess">
                    {{errorMessage}}
                  </div>
                  {{/if}}
                  {{#if same_password}}
                  <div class="col-md-12 mt-3 text-center errormess">
                    {{errorMessage2}}
                  </div>
                  {{/if}}
                  {{#if success}}
                  <div class="col-md-12 mt-3 text-center succesmess">
                    {{succesMessage}}
                  </div>
                  {{/if}}
    </div>
</div>