 <div id="wrapper">
            <div id="form-container">
                <hr>
                <h1> Sign In </h1>
                 <hr>
                <form method="POST" action="/login">
        
                    <div id="email-container" class="form-group row mt-5">
                        <label for="Email-id" class="col-md-4 col-form-label">Email</label>
                        <div class="col-md-7 mb-3 ">
                          <input type="email" name="email" class="form-control"   id="email-id"  {{#if emailError}} value="{{email}}"   {{/if}} {{#if passwordError}} value="{{email}}"   {{/if}}  required  >
                        </div>
                            </div>
                      
        
    
                      <div id="pass-container" class="form-group row">
                        <label for="password" class="col-md-4 col-form-label">Password</label>
                        <div class="col-md-7 mb-3 ">
                        <input type="password" class="form-control" name="password"   id="password" required>
                        </div>
              
                    </div>
                     {{#if emailError}}
                  <div class="col-md-12 mt-3 emailerrormess">
                    {{errorEmail}}
                  </div>
                  {{/if}}
                     {{#if passwordError}}
                  <div class="col-md-12 mt-3  passerrormess">
                    {{errorPassword}}
                  </div>
                  {{/if}}
                   
    
                      <div class="col-md-4 ">
                        <button class="submit-button" type="submit" id="submitButton">Log In<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg> </button> 
                        </div>
                      </form> </div>
           
                    
                     <div class="col-md-12 text-center pb-4">
                      Dont have an account? <a href="/register">Register now! </a>
                     </div>

        </div>
              
                        
            