<main>
        <div class="container" id="wrapper">
            <div class="popup" id="popupError">
                <div class="popup-content">
                    <div class="popup-message" id="popupErrorMessage"></div>
                    <button class="popup-btn" id="popupErrorBtn">OK</button>
                </div>
            </div>
            <div class="popup" id="popupSuccess">
                <div class="popup-content">
                    <div class="popup-message" id="popupSuccessMessage"></div>
                    <button class="popup-btn" id="popupSuccessBtn">OK</button>
                </div>
            </div>
        <form id="my-form" method="POST" action="/profile">
            <div class="profile-pic-container">
                <img class="profpic" src="/public/images/profile.png" alt="Users Profile Picture">
                <input class="file-input" type="file" accept="image/*">
            </div>
            <div class="cover"></div>
            <div class="border">
              <div class="form-element">
                  <label>Email:</label>
                  <input id="email" name="email" type="email" value="{{email}}">
              </div>
              <hr>
              <div class="form-element">
                  <label>Name:</label>
                  <input id="name" name="firstname" type="text" value="{{username}}">
              </div>
              <hr>
              <div class="form-element">
                  <label>Last Name:</label>
                  <input id="lastname" name="lastname" type="text" value="{{userlastname}}">
              </div>
              <hr>
             <div class="form-element">
                  <label>Password</label>
                  <input id="password" name="password" type="password" value="{{passsword}}">
              </div>
          </div>
        
          <div class="button-container">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
        </form>
</div>
</main>