 <div id="wrapper">
          <div id="form-container">
            <hr>
            <h1> Sign Up </h1>
             <hr>
             
            <div id="successMessage"></div>
            <div id="errorMessage"></div>
            <div id="passerrorMessage"></div>

            <div id="correctSvgContainer"   class="col-md-1" >
            <svg id="correctSvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
          </div>

          <div id="falseSvgContainer"   class="col-md-1">
            <svg id="falseSvg"   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
            </div>
            <form method="POST" action="#">
            <div class="form-group row mt-4">
                <label for="First-name" class="col-md-4 col-form-label">First Name</label>
                <div class="col-md-7 mb-3">
                  <input type="text" class="form-control" id="First-name" placeholder="George" required>
                </div>
    
                </div>
    
                <div class="form-group row">
                  <label for="lname-id" class="col-md-4 col-form-label">Last Name</label>
                  <div class="col-md-7 mb-3">
                    <input type="text" class="form-control" id="lname-id" placeholder="Papadopoulos" required >
                  </div>
                </div>
    
                <div id="email-container" class="form-group row">
                    <label for="Email-id" class="col-md-4 col-form-label">Email</label>
                    <div class="col-md-7 mb-3">
                      <input type="email" class="form-control"   id="email-id" placeholder="yourname@email.com" required  >
                    </div>
                        </div>
                  
    
                  <div id="confemail-container" class="form-group row">
                    <label for="Confirm-email" class="col-md-4 col-form-label">Confirm email</label>
                    <div class="col-md-7 mb-3">
                      <input type="email" class="form-control" id="confirm-email" required>
                    
                    </div>
                  </div>

                  <div id="pass-container" class="form-group row">
                    <label for="password" class="col-md-4 col-form-label">Password</label>
                    <div class="col-md-7 mb-3">
                    <input type="password" class="form-control" name="password" id="password" required>
                    </div>
          
                </div>
                <div id="passconf-container" class="form-group row">
                    <label for="passwordConfirm" class="col-md-4 col-form-label">Password Confirm</label>
                    <div class="col-md-7 mb-3">
                    <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" required>
                    </div>
                   
                   
                </div>
                  <div id="dob-container" class="form-group row">
                    <label for="DOB-id" class="col-md-4 col-form-label">Date of Birth</label>
                    <div class="col-md-7 mb-3">
                      <input type="text" class="form-control"   id="DOB-id" placeholder="DD/MM/YYYY" required >
                    </div>
                    
                  </div>

                  <div class="col-md-4">
                    <button class="submit-button" type="submit" id="submitButton">Register<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg> </button> 
                    </div>
                  </form>
                    <div class="cols">
                      <div class="col-md-12 my-3 largeSize">
                        <p>Register your account in order to access your orders later. We are committed to keeping your information secure and confidential.</p>
                       </div>
                       

                    <div class="col-md-12 my-2 smallSize">
                         <p> All fields marked with an asterisk ( * ) are required.</p>
                        </div>

                    </div>
                      

        </div>

          </div>
           