 <header>
        <nav class="navbar navbar-expand bg-dark">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-3 mb-lg-0">
                  <div class="header-item-1">
                    <a href="/" class="button-top" ><svg class="arrow bi bi-arrow-left" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>Home</a>
                </div>
                </div>
                <img src="/public/images/museum-logo.png" class="navbar-brand text-white me-auto mb-6 mb-lg-0" id="logo" alt="Vatican Museum logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
              </div>
            </div>
        </nav>
    </header>