
    <section class="imbg container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aa"><h1 class="effect2">EXPLORE THE <p>VATICAN MUSEUM </p> </h1> 
             <a class="book" href="/Tickets and Prices"> <button class="submit-button">Tickets &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
              </svg></button></a></div>
            </div>

            <div class="row bnh">
                <div class="col-md-4 col-xl-4 col-xs-4 text-center text-white opacity-75 rounded-2" id="coloring">The museum is open today from 9:00 AM to 6:00 PM</div>
              </div>
            </div>
    </section>
  
    <div>&nbsp;</div>   
    <div>&nbsp;</div>   
    <article class="container-fluid">  
      <h5><strong>WELCOME TO THE VATICAN MUSEUMS</strong></h5>
      <div class="mb-4">
        <p class="welcome text-muted">
        Welcome to the Vatican Museum, one of the world's most renowned cultural institutions. Established in the early 16th
         century by Pope Julius II, the museum contains an incredible collection of art and artifacts that span more than 3,000 years 
         of human history. With over 70,000 works on display, including masterpieces by Michelangelo, Raphael, and Caravaggio, visitors
          can experience a visual journey through the ages. The museum is housed in a complex of buildings that includes the famous Sistine 
          Chapel, with its stunning ceiling painted by Michelangelo, as well as a number of other galleries, courtyards, and gardens. We hope 
          you enjoy your visit and <a class="effect" href="/explore">discover</a> the many treasures that the Vatican Museum has to 
          <a class="effect" href="/whats on">offer</a>!
      </p>
      </div>
    </article>
  <div>&nbsp;</div>   