<div class="container">
        <div class="row mt-2 mx-5 text-center">
            <h1>Payment</h1>

        </div>
        
    </div>
    
    <div class="container">
      <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">

          <form>
            <div class="row">
              <div class="col-md-12 ">
                <hr class="w-100 ">
               
              </div>
              
                </div>

            
            
            <div class="row ">
            <h2 class="text-center">Enter your card information</h2> 
            
          </div>
          
          

          <div class="row mb-2">
            <div class="col-md-12">
              <hr class="w-100 ">
            </div>
              </div>

         

          <div class="form-group row ">
            <label for="Card" class="col-md-5 col-form-label">Card Number</label>
            <div class="col-md-7 mb-3">
              <input type="text" class="form-control" id="card-no">
            </div>
            <span class="text-center alertbox" id="alertbox-id"> Card Number is not valid!</span>

            </div>

            <div class="form-group row">
              <label for="month-id" class="col-md-5 col-form-label">Expiration Date</label>
              <div class="col-md-7 mb-3">
                <input type="month" class="form-control" id="month-id" lang="en" >
              </div>
            </div>

            <div class="form-group row">
                <label for="cvv-id" class="col-md-5 col-form-label">CVV</label>
                <div class="col-md-7 mb-3">
                  <input type="text" class="form-control"   id="cvv-id" maxlength="4" pattern="\d{4}" >
                </div>
              </div>

              <div class="form-group row">
                <label for="name-on-card" class="col-md-5 col-form-label">Name on card</label>
                <div class="col-md-7 mb-3">
                  <input type="text" class="form-control" id="name-on-card">
                </div>
              </div>

              <div class="col-md-6">
                <button class="submit-button"> Payment<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                 <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
               </svg> </button> 
   
               </div>

             
                    
                
                  
          </form>


        </div>
      </div>
        

    </div>