
<div class="container">
        <div class="row mt-5 mx-5 text-center">
            <h1>Book your tickets</h1>

        </div>
        
    </div>
    
    <div class="container">
      <div class="row">
        <div class="mx-auto col-12 col-md-10 col-lg-6">

          <form method="post" action="#" id="ticket-form"> <!-- form-->
            <div class="row">
              <div class="col-md-12 ">
                <hr class="w-100 ">
               
              </div>
              
                </div>

            
            
            <div class="row ">
            <label for="people-group-id" class="col-md-9 col-form-label ">How many people are in your group? </label>
            <div class="col-md-3">

              <select class="select-group" id="people-group-id" name="people-group" required>
                <option  hidden disabled selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
              
            </div>

            
            
          </div>
          
          

          <div class="row mb-5">
            <div class="col-md-12">
              <hr class="w-100 ">
            </div>
              </div>

              <div class="form-group row">
                

                <div class="form-group row" >
                  <label for="dateId" class="col-md-5 col-form-label mt-3">Pick a date</label>
                  <div class="col-md-7">
                    <input type="date" class="form-control m-lg-3" id="dateId">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="timeId" class="col-md-5 col-form-label mt-3">Choose time</label>
                  <div class="col-md-7 ">
                    <select id="timeId" name="time-pick" class="form-control m-lg-3" required>

                      <option id="none" disabled selected value="">Choose a time zone</option>
                      <option id="time-zone1" value="9:00">9:00-12:00</option>
                      <option id="time-zone2" value="12:00">12:00-15:00</option>
                      <option id="time-zone3" value="15:00">15:00-18:00</option>
                      <!--<option id="time0" value="9:00">9:00</option>
                      <option id="time1" value="9:15">9:15</option>
                      <option id="time2" value="9:30"> 9:30</option>
                      <option id="time3" value="9:45">9:45</option>
                      <option id="time4" value="10:00">10:00</option>
                      <option id="time5" value="10:15">10:15</option>
                      <option id="time6" value="10:30">10:30</option>
                      <option id="time7" value="10:45">10:45</option>
                      <option id="time8" value="11:00">11:00</option>
                      <option id="time9" value="11:15">11:15</option>
                      <option id="time10" value="11:30">11:30</option>
                      <option id="time11" value="11:45">11:45</option>
                      <option id="time12" value="12:00">12:00</option>
                      <option id="time13" value="12:15">12:15</option>
                      <option id="time14" value="12:30">12:30</option>
                      <option id="time15" value="12:45">12:45</option>
                      <option id="time16" value="13:00">13:00</option>
                      <option id="time17" value="13:15">13:15</option>
                      <option id="time18" value="13:30">13:30</option>
                      <option id="time19" value="13:45">13:45</option>
                      <option id="time20"value="14:00">14:00</option>
                      <option id="time21"value="14:15">14:15</option>
                      <option id="time22"value="14:30">14:30</option>
                      <option id="time23"value="14:45">14:45</option>
                      <option id="time24" value="15:00">15:00</option>
                      <option id="time25" value="15:15">15:15</option>
                      <option id="time26" value="15:30">15:30</option>
                      <option id="time27" value="15:45">15:45</option>
                      <option id="time28" value="16:00">16:00</option>-->
                    </select>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="timeId" class="col-md-5 col-form-label mt-3">Ticket type</label>
                  <div class="col-md-7 mb-3">
                    <select id="ticket-type-Id" name="ticketType" class="form-control m-lg-3" required>
                      <option id="none-ticket" hidden disabled selected value=""></option>
                      <option id="adult-ticket" value="Adult Ticket">Adult</option>
                      <option id="student-ticket" value="Student Ticket">Student</option>
                      <option id="child-ticket" value="Under 15">Under 15</option>    
                    </select>
                    
                  </div>
                </div>

                 <div class="row m-lg-3">

                  <div class="col-md-9 ">
                    <input class="form-check-input " type="checkbox" id="defaultCheck1" required>
                    <label class="form-check-label " for="defaultCheck1">
                      I accept the <a href="Tickets and Prices.html#terms-id" class="clr-tnt" id="terms-info-Id" target="_blank"> Terms and Conditions</a>
                    </label>

                  </div>

                  <div class="col-md-3">
                     <button class="submit-button" type="submit">Submit<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg> </button> 
        
                    </div>
                    
                  </div>
                   

                    

              </div>

               

              
              <div class="row m-lg-0 mt-3 clr-d">
                <p>Your order will be processed and your tickets emailed to you as soon as possible.</p>
              </div>
                    
             

                
              
          </form>


        </div>
      </div>
        

    </div>
