 <main>
        <div class="container" id="wrapper">
            
        <form id="my-form" method="POST" action="/profile">
            <div class="profile-pic-container">
                <img class="profpic" src="/public/images/profile.png" id="profilePhoto" alt="Users Profile Picture">
                <input class="file-input" type="file" accept="image/*">
            </div>
            <div class="cover"></div>
            <div class="border">
              <div class="form-element">
                  <label>Email:</label>
                  <input name="email" id="email" type="email"  value="{{email}}">
              </div>
              <hr>
              <div class="form-element">
                  <label>Name:</label>
                  <input name="firstname" id="name" type="text" value="{{username}}">
              </div>
              <hr>
              <div class="form-element">
                  <label>Last Name:</label>
                  <input name="lastname" id="lastname" type="text" value="{{userlastname}}">
              </div>

               {{#if error}}
                  <div class="col-md-12 mt-3 text-center errormess">
                    {{errorMessage}}
                  </div>
                  {{/if}}
   
    </div>
          <div class="button-container">
            <a class="submit-button" href="/passwordsettings">Change Password</a>

            <button  id="submit-button" class="submit-button" type="submit">Submit</button>
        </div>
        </form>

        
   
</div>
</main>