header{
    max-width: 100%;
}

.dropdown-menu{
    width: 200px;
    height: 150px;
    padding: 30px;
}

.custom-dropdown-menu {
    width: 90px;
    height: 170px;
}

.userpic{
    height: 30x;
    width: 30px;
}

.userpic2{
    height: 50x;
    width: 50px;
}
.form-control{
    width: 5;
    height: 5;
}

.logout{
    width: 17px;
    height: 17px;
    margin-left: 28px;
}

#logo{
    width: 256px;
    padding: 15px;
    margin: 10px;
}